$company_dark-purple: #1D1427;
$company_yellow: #F9AA01;
$company_white: #FFFFFF;

// navbar
$modal_hover_background: #170E1F;

$grey_text: #A2A0AB;

$text_font: "Poppins", sans-serif;
$titles_font: "Saira", sans-serif;

$separation_lines: #3E3746;

$half_gutter: 10px;